# .env.example

# 아래 명령어를 터미널에 입력
# openssl rand -hex 64
SECRET_KEY="your-super-secret-key"

# Defalut: "HS256"
ALGORITHM="HS256"

# OpenAI에서 발급
# Example: OPENAI_API_KEY="sk-..."
OPENAI_API_KEY="your-openai-api-key"

# 아래 명령어를 터미널에 실행
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"     
ENCRYPTION_KEY="your-encryption-key"
